@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

@font-face {
    font-family: valorant;
    src: url(fonts/dinnextw1g.otf);
}

:root {
    --cor-de-fundo: rgb(8, 8, 8);
    --branco: rgb(8, 8, 8);
    --laranja: #EB9B00;
    --azul-degrade: #92745e;
    --fonte-principal: "Poppins";
    --azul: #92745e;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}